{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Merintis Project | Website</title>
{% endblock meta %}

{% block content %}
  <!-- <h1>Hello, world!</h1>
  <p><img src="{% static 'img/django-logo-negative.svg' %}"></p> -->
  <!-- Navbar  -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
    <div class="container">
      <a class="navbar-brand" href="#">Merintis Project</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="mx-auto"></div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Banner Image  -->
  <div
    class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center"
  >
    <div class="content text-center">
      <br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br><br>
      <!-- <span class="text-white">welcome</span> -->
    </div>
  </div>

  <!-- Main Content Area -->
  <div class="container my-5 d-grid gap-5">
    <div class="p-5 border">
      <p></p>
    </div>
  </div>
{% endblock content %}
